<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxm.business.mapper.CustomMapper">
    <resultMap id="BaseResultMap" type="com.jxm.business.model.CustomParam">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="custom_name" jdbcType="VARCHAR" property="customName"/>
        <result column="credit_code" jdbcType="VARCHAR" property="creditCode"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="legal_person" jdbcType="VARCHAR" property="legalPerson"/>
        <result column="business_time_type" jdbcType="INTEGER" property="businessTimeType"/>
        <result column="business_time" jdbcType="TIMESTAMP" property="businessTime"/>
        <result column="license_time" jdbcType="VARCHAR" property="licenseTime"/>
        <result column="contact_name" jdbcType="VARCHAR" property="contactName"/>
        <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone"/>
        <result column="sales_person_id" jdbcType="BIGINT" property="salesPersonId"/>
        <result column="sales_person_name" jdbcType="VARCHAR" property="salesPersonName"/>
        <result column="sales_person_phone" jdbcType="VARCHAR" property="salesPersonPhone"/>
        <result column="sales_person_email" jdbcType="VARCHAR" property="salesPersonEmail"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, custom_name,credit_code,address,legal_person,business_time,license_time,contact_name,contact_phone
    </sql>

    <select id="getCustomBySearch" resultMap="BaseResultMap">
        select ci.*,cs.sales_person_id,cs.sales_person_name,cs.sales_person_phone,cs.sales_person_email
        from custom_info ci
        left join custom_sale cs on ci.id = cs.custom_id
        <where>
            <if test="keyword!=null and keyword!=''">
                and ci.custom_name like concat('%', #{keyword}, '%')
                or ci.contact_name like concat('%', #{keyword}, '%')
            </if>
            <if test="salesPersonId!=null">
                cs.sales_person_id=#{salesPersonId}
            </if>
        </where>
        order by ci.license_time asc
    </select>

    <select id="getCustomByNearDeadline" resultMap="BaseResultMap">
        select ci.*,cs.sales_person_id,cs.sales_person_name,cs.sales_person_phone,cs.sales_person_email
        from custom_info ci
        left join custom_sale cs on ci.id = cs.custom_id
        where DATEDIFF(license_time,NOW())=2
    </select>

    <select id="queryCustomContent" resultMap="BaseResultMap">
        select
        ci.*,cs.sales_person_id,cs.sales_person_name
        from
        custom_info ci
        LEFT JOIN custom_sale cs ON ci.id=cs.custom_id
        where ci.id=#{id}
    </select>

    <insert id="addCustom" parameterType="com.jxm.business.model.CustomPostParam">
        insert into custom_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="customName != null">
                custom_name,
            </if>
            <if test="creditCode != null">
                credit_code,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="legalPerson != null">
                legal_person,
            </if>
            <if test="businessTimeType != null">
                business_time_type,
            </if>
            <if test="businessTime != null">
                business_time,
            </if>
            <if test="licenseTime != null">
                license_time,
            </if>
            <if test="contactName != null">
                contact_name,
            </if>
            <if test="contactPhone != null">
                contact_phone,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="customName != null">
                #{customName,jdbcType=VARCHAR},
            </if>
            <if test="creditCode != null">
                #{creditCode,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="legalPerson != null">
                #{legalPerson,jdbcType=VARCHAR},
            </if>
            <if test="businessTimeType != null">
                #{businessTimeType,jdbcType=INTEGER},
            </if>
            <if test="businessTime != null">
                #{businessTime,jdbcType=VARCHAR},
            </if>
            <if test="licenseTime != null">
                #{licenseTime,jdbcType=TIMESTAMP},
            </if>
            <if test="contactName != null">
                #{contactName,jdbcType=VARCHAR},
            </if>
            <if test="contactPhone != null">
                #{contactPhone,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateCustom" parameterType="com.jxm.business.model.CustomPostParam">
        update custom_info
        set custom_name = #{customName,jdbcType=VARCHAR},
        credit_code=#{creditCode,jdbcType=VARCHAR},
        address = #{address,jdbcType=VARCHAR},
        legal_person=#{legalPerson,jdbcType=VARCHAR},
        business_time_type = #{businessTimeType,jdbcType=INTEGER},
        business_time = #{businessTime,jdbcType=TIMESTAMP},
        license_time=#{licenseTime,jdbcType=TIMESTAMP},
        contact_name = #{contactName,jdbcType=VARCHAR},
        contact_phone=#{contactPhone,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        delete from custom_info where id=#{customId,jdbcType=INTEGER}
    </delete>

    <delete id="deleteBatchCustom" parameterType="java.lang.Long">
        delete from custom_info
        where
        id in
        <foreach collection="idList" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getAllCustom" resultType="java.lang.String">
    select custom_name
    from custom_info
  </select>

    <insert id="saveBatch" parameterType="java.util.List">
        insert into custom_info (
        id, custom_name,credit_code,address,legal_person,business_time_type,business_time,license_time,contact_name,contact_phone)
        values
        <foreach collection="list" item="customItem" index="index" separator=",">
            (#{customItem.id},#{customItem.customName},
            #{customItem.creditCode},#{customItem.address},
            #{customItem.legalPerson},#{customItem.businessTimeType},#{customItem.businessTime,jdbcType=TIMESTAMP},
            #{customItem.licenseTime,jdbcType=TIMESTAMP},
            #{customItem.contactName},
            #{customItem.contactPhone})
        </foreach>
    </insert>
</mapper>