<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxm.business.mapper.QuUserMapper">

    <resultMap id="BaseResultMap" type="com.jxm.business.model.QuUserParam">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="relate_id" jdbcType="BIGINT" property="relateId"/>
        <result column="qu_id" jdbcType="BIGINT" property="quId"/>
        <result column="qu_type" jdbcType="INTEGER" property="quType"/>
        <result column="rate_value" jdbcType="INTEGER" property="rateValue"/>
        <result column="radio_value" jdbcType="BIGINT" property="radioValue"/>
        <result column="check_value" jdbcType="VARCHAR" property="checkValue"/>
        <result column="input_value" jdbcType="VARCHAR" property="inputValue"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,relate_id,qu_id,qu_type,rate_value,radio_value,check_value,input_value,create_time
    </sql>

    <delete id="deleteByRelateId" parameterType="java.lang.Long">
        delete from qu_user where relate_id=#{relateId,jdbcType=BIGINT}
    </delete>

    <insert id="saveBatch" parameterType="java.util.List">
        insert into qu_user (
        id, user_id,relate_id,qu_id,qu_type,rate_value,radio_value,check_value,input_value,create_time)
        values
        <foreach collection="list" item="surveyItem" index="index" separator=",">
            (#{surveyItem.id},#{surveyItem.userId},#{surveyItem.relateId},#{surveyItem.quId},
            #{surveyItem.quType},#{surveyItem.rateValue},
            #{surveyItem.radioValue},
            #{surveyItem.checkValue},
            #{surveyItem.inputValue},
            #{surveyItem.createTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>


</mapper>