<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxm.business.mapper.SurveyUserMapper">

    <resultMap id="BaseResultMap" type="com.jxm.business.model.SurveyUserParam">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="temp_id" jdbcType="BIGINT" property="tempId"/>
        <result column="temp_name" jdbcType="VARCHAR" property="tempName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,user_name,temp_id,temp_name,create_time
    </sql>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from survey_user where id=#{id,jdbcType=BIGINT}
    </delete>

    <select id="getSurveyBySearch" resultType="com.jxm.business.model.SurveyUserParam">
        select id,user_id,user_name,temp_id,temp_name,create_time from survey_user
        <where>
            <if test="keyword!=null and keyword!=''">
                and user_name like concat('%', #{keyword}, '%')
                or temp_name like concat('%', #{keyword}, '%')
            </if>
            <if test="startDate!=null and startDate!='' and endDate!=null and endDate!=''">
                and create_time between #{startDate} and #{endDate}
            </if>
            <if test="tempId!=null and tempId!=''">
                and temp_id =#{tempId,jdbcType=BIGINT}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectByTempAndUser" resultType="com.jxm.business.model.SurveyUserParam">
        select
        <include refid="Base_Column_List"/>
        from survey_user
        where temp_id=#{tempId,jdbcType=BIGINT} AND user_id=#{userId,jdbcType=BIGINT}
    </select>

    <update id="setTempNameAndType">
        update survey_user
        <set>
            <if test="tempName != null">
                temp_name = #{tempName,jdbcType=VARCHAR},
            </if>
        </set>
        where temp_id = #{tempId,jdbcType=BIGINT}
    </update>

    <insert id="add" parameterType="com.jxm.business.model.SurveyUserParam">
        insert into survey_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="tempId != null">
                temp_id,
            </if>
            <if test="tempName != null">
                temp_name,
            </if>
            <if test="createTime != null">
                create_time
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="tempId != null">
                #{tempId,jdbcType=BIGINT},
            </if>
            <if test="tempName != null">
                #{tempName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </insert>

</mapper>