<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxm.upstage.mapper.DepMapper">
    <resultMap id="BaseResultMap" type="com.jxm.upstage.model.Dep">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="dep_name" jdbcType="VARCHAR" property="depName"/>
        <result column="lead_name" jdbcType="VARCHAR" property="leadName"/>
        <result column="lead_phone" jdbcType="VARCHAR" property="leadPhone"/>
        <result column="note" jdbcType="VARCHAR" property="note"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <resultMap id="UserChildMap" type="com.jxm.upstage.dto.UmsAdminConcat">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
    </resultMap>

    <resultMap id="listWithChildrenMap" type="com.jxm.upstage.dto.depUserRelation">
        <id column="id" jdbcType="BIGINT" property="depId"/>
        <result column="dep_name" jdbcType="VARCHAR" property="depName"/>
        <collection property="userRelationList" resultMap="UserChildMap"
                    columnPrefix="user_"></collection>
    </resultMap>

    <resultMap id="depIdToName" type="com.jxm.upstage.dto.DepIdToName">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="depName" jdbcType="VARCHAR" property="depName"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, dep_name, lead_name, lead_phone, note, create_time
    </sql>

    <select id="getDepIdToName" resultMap="depIdToName">
        select
        id,dep_name depName
        from dep
    </select>

    <select id="selectUserRelation" resultMap="listWithChildrenMap">
                SELECT
            c2.id ,
            c2.dep_name ,
            c1.id user_id,
            c1.phone user_phone,
            c1.nick_name user_nick_name,
            c1.email user_email
        FROM
            ums_admin c1
            LEFT JOIN dep c2 ON c1.dep_id = c2.id
        ORDER BY
            c2.dep_name DESC
    </select>

    <select id="getDepByDeptId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        dep
        where
        id=#{deptId,jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="com.jxm.upstage.model.Dep">
        insert into dep
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="depName != null">
                dep_name,
            </if>
            <if test="leadName != null">
                lead_name,
            </if>
            <if test="leadPhone != null">
                lead_phone,
            </if>
            <if test="note != null">
                note,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="depName != null">
                #{depName,jdbcType=VARCHAR},
            </if>
            <if test="leadName != null">
                #{leadName,jdbcType=VARCHAR},
            </if>
            <if test="leadPhone != null">
                #{leadPhone,jdbcType=VARCHAR},
            </if>
            <if test="note != null">
                #{note,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="list" parameterType="java.lang.String" resultType="com.jxm.upstage.model.Dep">
        select
        <include refid="Base_Column_List"/>
        from dep
        <if test="keyword != null  and keyword != ''">
            where dep_name like concat('%', #{keyword}, '%')
        </if>
    </select>

    <update id="update" parameterType="com.jxm.upstage.model.Dep">
        update dep
        <set>
            <if test="depName != null">
                dep_name = #{depName,jdbcType=VARCHAR},
            </if>
            <if test="leadName != null">
                lead_name = #{leadName,jdbcType=VARCHAR},
            </if>
            <if test="leadPhone != null">
                lead_phone = #{leadPhone,jdbcType=VARCHAR},
            </if>
            <if test="note != null">
                note = #{note,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        delete
        from dep
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteBatch" parameterType="java.lang.Long">
        delete from dep
        where
        id in
        <foreach collection="idList" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectDepHeadIdByUser" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT ua.id
        FROM ums_admin ua
        JOIN dep d ON d.lead_phone = ua.phone
        JOIN ums_admin ua2 ON ua2.dep_id = d.id
        WHERE ua2.id = #{userId};
    </select>

</mapper>