<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxm.upstage.mapper.UmsAdminMapper">
  <resultMap id="BaseResultMap" type="com.jxm.upstage.model.UmsAdmin">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="motto" jdbcType="VARCHAR" property="motto" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="duty" jdbcType="VARCHAR" property="duty" />
    <result column="dep_id" jdbcType="BIGINT" property="depId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>

  <sql id="Base_Column_List">
    id, username, password, icon,phone, email, nick_name, note, create_time, login_time, status,sex,duty,dep_id,address,motto
  </sql>
  <insert id="insert" parameterType="com.jxm.upstage.model.UmsAdmin">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_admin (username, password, icon,phone,
    email, nick_name, duty,sex,note,
    create_time, login_time, status,dep_id,address
    )
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},
    #{email,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR},
    #{duty,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER},#{note,jdbcType=VARCHAR},
    #{createTime,jdbcType=TIMESTAMP}, #{loginTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}
    ,#{depId,jdbcType=BIGINT},#{address,jdbcType=VARCHAR}
    )
  </insert>

  <select id="selectAdminByUsername" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from
    ums_admin
    where
    username = #{username,jdbcType=VARCHAR}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List" />
  from ums_admin
  where id = #{id,jdbcType=BIGINT}
</select>

  <select id="getUmsAdminConcat" parameterType="java.lang.Long" resultType="com.jxm.upstage.dto.UmsAdminConcat">
    select
    id,nick_name,email,phone,icon
    from ums_admin
    where id = #{id,jdbcType=BIGINT}
  </select>


  <select id="getUmsAdminConcatList" resultType="com.jxm.upstage.dto.UmsAdminConcat">
    select
    id,nick_name,email,phone
    from ums_admin
  </select>

  <select id="getAllUserPhone" resultType="java.lang.String">
    select username
    from ums_admin
  </select>

  <select id="selectByQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ums_admin
    <where>
      <if test="depId != null  and depId != ''">
        dep_id= #{depId,jdbcType=BIGINT}
      </if>
      <if test="keyword != null  and keyword != ''" >
        and username like concat('%', #{keyword}, '%')
        or nick_name like concat('%', #{keyword}, '%')
      </if>
    </where>
    order by create_time desc
  </select>

  <update id="updateByPrimaryKeySelective" parameterType="com.jxm.upstage.model.UmsAdmin">
    update ums_admin
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="duty != null">
        duty = #{duty,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
      sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="depId != null">
        dep_id = #{depId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginTime != null">
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="motto != null">
        motto = #{motto,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ums_admin
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteBatch" parameterType="java.lang.Long">
    delete from ums_admin
    where
    id in
    <foreach collection="idList" item="id" separator="," open="(" close=")">
      #{id}
    </foreach>
  </delete>

  <insert id="saveBatch" parameterType="java.util.List">
    insert into ums_admin (id,username,password,icon,email,nick_name,note,create_time,login_time,status,dep_id,duty,phone,sex)
    values
    <foreach collection="list" item="userItem" index="index" separator=",">
      (#{userItem.id},#{userItem.username},
      #{userItem.password},#{userItem.icon},
      #{userItem.email},#{userItem.nickName},#{userItem.note},
      #{userItem.createTime,jdbcType=TIMESTAMP},
      #{userItem.loginTime,jdbcType=TIMESTAMP},
      #{userItem.status},#{userItem.depId},#{userItem.duty},#{userItem.phone},#{userItem.sex})
    </foreach>
  </insert>

  <resultMap id="ColleageMap" type="com.jxm.upstage.dto.DepUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="duty" jdbcType="VARCHAR" property="duty" />
  </resultMap>

  <select id="details" resultMap="ColleageMap">
    select id,nick_name,username,duty
    from ums_admin
    where dep_id= #{depId,jdbcType=BIGINT}
  </select>

</mapper>