<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxm.upstage.mapper.UmsRoleResourceRelationMapper">
  <resultMap id="BaseResultMap" type="com.jxm.upstage.model.UmsRoleResourceRelation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="resource_id" jdbcType="BIGINT" property="resourceId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, role_id, resource_id
  </sql>
  <select id="selectAllRoleResource"  resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ums_role_resource_relation
  </select>

  <insert id="insert" parameterType="com.jxm.upstage.model.UmsRoleResourceRelation">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_role_resource_relation (role_id, resource_id)
    values (#{roleId,jdbcType=BIGINT}, #{resourceId,jdbcType=BIGINT})
  </insert>

  <delete id="deleteByRoleId">
    delete from ums_role_resource_relation
    where role_id=#{roleId}
  </delete>
</mapper>