<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxm.file.mapper.FileOperateLogMapper">
    <resultMap id="BaseResultMap" type="com.jxm.file.entity.FileOperateLog">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="operate" jdbcType="VARCHAR" property="operate"/>
        <result column="reason" jdbcType="VARCHAR" property="reason"/>
        <result column="file_id" jdbcType="BIGINT" property="fileId"/>
        <result column="file_name" jdbcType="VARCHAR" property="fileName"/>
        <result column="extend_field" jdbcType="VARCHAR" property="extendField"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, operate,reason,file_id,file_name,extend_field, create_time
    </sql>

    <select id="getUserUploadCount" resultType="com.jxm.file.dto.userIdUploadDto">
        select
        user_id as userId,count(*) as uploadCount
        from file_operate_log
        where operate="上传"
        GROUP BY user_id
        LIMIT 10
    </select>

    <select id="selectFileOperateLog" resultType="com.jxm.file.entity.FileOperateLog">
        select
        <include refid="Base_Column_List"/>
        from file_operate_log
        <where>
            <if test="userId!=null and userId!=''">
                user_id = #{userId}
            </if>
            <if test="startDate!=null and startDate!='' and endDate!=null and endDate!=''">
                and create_time between #{startDate} and #{endDate}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="getMyUploadFileStatus" resultType="com.jxm.file.entity.FileOperateLog">
        select
        <include refid="Base_Column_List"/>
        from file_operate_log
        <where>
            operate="上传"
            <if test="userId!=null and userId!=''">
               and user_id = #{userId}
            </if>
            <if test="keyword!=null and keyword!=''">
                and file_name like  concat('%', #{keyword}, '%')
            </if>
            <if test="startDate!=null and startDate!='' and endDate!=null and endDate!=''">
                and create_time between #{startDate} and #{endDate}
            </if>
        </where>
        order by create_time desc
    </select>

    <insert id="insert">
        insert into file_operate_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            create_time,
            <if test="userId != null">
                user_id,
            </if>
            <if test="operate != null">
                operate,
            </if>
            <if test="extendField != null">
                extend_field,
            </if>
            <if test="fileId != null">
                file_id,
            </if>
            <if test="fileName != null">
                file_name
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            NOW(),
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="operate != null">
                #{operate,jdbcType=VARCHAR},
            </if>
            <if test="extendField != null">
                #{extendField,jdbcType=VARCHAR},
            </if>
            <if test="fileId != null">
                #{fileId,jdbcType=BIGINT},
            </if>
            <if test="fileName != null">
                #{fileName,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>

    <delete id="deleteLog" parameterType="java.lang.Long">
        delete from file_operate_log where id=#{logId,jdbcType=INTEGER}
    </delete>

    <delete id="deleteBatchLog" parameterType="java.lang.Long">
        delete from file_operate_log
        where
        id in
        <foreach collection="idList" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateFileReason">
        update file_operate_log set reason=#{reason} where file_id=#{fileId}
    </update>

    <update id="updateFilesReason">
         update file_operate_log set reason=#{reason} where file_id in
        <foreach collection="fileIds" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>
</mapper>